Repository haru52/haru52.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint, prettier -c, markdownlint, make lint-text, shellcheck, markuplint, stylelint --cache, eslint --cache, actionlint

chore: add .czrc
  .czrc
Due: secretlint, prettier -c

chore: add Markdownlint files
  .markdownlint.yml
  .markdownlintignore
Due: secretlint, prettier -c

chore: add Prettier files
  .prettierignore
  .prettierrc.yml
Due: secretlint, prettier -c

chore: add markuplint config file
  .markuplintrc.yml
Due: secretlint, prettier -c

chore: add Stylelint config file
  .stylelintrc.yml
Due: secretlint, prettier -c

chore: add ESLint config files
  .eslintignore
  .eslintrc.yml
Due: secretlint, prettier -c

chore: add Secretlint config file
  .secretlintrc.yml
Due: secretlint, prettier -c

chore: update .markdownlintignore
  .markdownlintignore
Due: secretlint, prettier -c

chore: add Husky files
  .husky/commit-msg
  .husky/pre-commit
Due: secretlint, prettier -c, shellcheck

chore: add VS Code settings
  .vscode/extensions.json
  .vscode/settings.json
Due: secretlint, prettier -c

chore: update extensions.json
  .vscode/extensions.json
Due: secretlint, prettier -c

chore: add comment
  .prettierignore
Due: secretlint, prettier -c

chore: add .tool-versions file
  .tool-versions
Due: secretlint, prettier -c

chore: rename watch to dev
  package.json
Due: secretlint, prettier -c

docs: add LICENSE file
  LICENSE
Due: secretlint, prettier -c

docs: add contributing guideline
  CONTRIBUTING.md
Due: secretlint, prettier -c, markdownlint, make lint-text

docs: update README.md
  README.md
Due: secretlint, prettier -c, markdownlint, make lint-text

docs: add code of conduct file
  CODE_OF_CONDUCT.md
Due: secretlint, prettier -c, markdownlint, make lint-text

docs: add SECURITY.md
  SECURITY.md
Due: secretlint, prettier -c, markdownlint, make lint-text

chore: add GitHub issue templates
  .github/ISSUE_TEMPLATE/general-issue-beta.yml
  .github/ISSUE_TEMPLATE/general-issue.md
Due: secretlint, prettier -c, markdownlint, make lint-text

chore: add GitHub PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: secretlint, prettier -c, markdownlint, make lint-text

chore: add dependabot.yml
  .github/dependabot.yml
Due: secretlint, prettier -c

ci: add GitHub Actions workflows
  .github/workflows/dependabot.yml
  .github/workflows/deploy.yml
  .github/workflows/reviewdog.yml
  .github/workflows/test.yml
Due: secretlint, prettier -c, actionlint

ci: delete .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Due: secretlint, prettier -c, actionlint

chore: add index.pug
  src/pages/index.pug
Due: secretlint, prettier -c, markuplint

chore: add tsconfig.json
  tsconfig.json
Due: secretlint, prettier -c

chore: add webpack config files
  webpack.common.ts
  webpack.dev.ts
  webpack.prod.ts
Due: secretlint, prettier -c, eslint --cache

chore: update src
  src/scripts/index.ts
  src/styles/custom.scss
  src/styles/index.scss
Due: secretlint, prettier -c, stylelint --cache, eslint --cache

chore: rename directories like Ruby on Rails
  .github/workflows/reviewdog.yml
  package.json
  src/stylesheets/custom.scss
  src/stylesheets/index.scss
  src/typescript/index.ts
  webpack.common.ts
Due: secretlint, prettier -c, stylelint --cache, eslint --cache, actionlint

chore: update webpack config
  webpack.common.ts
Due: secretlint, prettier -c, eslint --cache

chore: copy assets from docs to src/assets
  src/assets/haru52_pub.asc
  src/assets/images/ikiru.jpg
  src/assets/images/kill_bill.jpg
  src/assets/images/lunacy.jpg
  src/assets/images/phantom_of_the_paradise.jpg
  src/assets/images/pulse.jpg
  src/assets/images/repulsion.jpg
  src/assets/images/suspiria.jpg
  src/assets/images/the_cabin_in_the_woods.jpg
  src/assets/images/the_graduate.jpg
  src/assets/images/under_the_silver_lake.jpg
Due: secretlint, prettier -c

chore: move stylesheets directory to assets
  .github/workflows/reviewdog.yml
  package.json
  src/assets/stylesheets/custom.scss
  src/assets/stylesheets/index.scss
  src/typescript/index.ts
Due: secretlint, prettier -c, stylelint --cache, eslint --cache, actionlint

chore: rename pages to views like Rails
  package.json
  src/views/index.pug
  webpack.common.ts
Due: secretlint, prettier -c, markuplint, eslint --cache

chore: update index.pug
  src/views/index.pug
Due: secretlint, prettier -c, markuplint

chore: change not to delete CNAME file in clean script
  package.json
Due: secretlint, prettier -c

chore: update .prettierignore
  .prettierignore
Due: secretlint, prettier -c

chore: add empty Pug files
  src/views/404.pug
  src/views/components/_footer.pug
  src/views/components/_header.pug
  src/views/layouts/_layout.pug
  src/views/my_best_10_films.pug
Due: secretlint, prettier -c, markuplint

chore: add .editorconfig
  .editorconfig
Due: secretlint, prettier -c

Path conditions:
  secretlint: any of: *
  prettier -c: any of: *
  markdownlint: any of: *.{md,markdown}
  make lint-text: any of: *.{md,markdown}
  shellcheck: any of: {*.sh,.husky/*}
  markuplint: any of: *.pug
  stylelint --cache: any of: *.scss
  eslint --cache: any of: *.{ts,js}
  actionlint: any of: .github/workflows/*.{yml,yaml}
