Repository haru52/haru52.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint, prettier --check, markdownlint, make lint-text, make lint-yml, shellcheck, markuplint, stylelint --cache, eslint --cache, actionlint

.lintstagedrc.yml:

---
"*":
  - secretlint
  - prettier --check
"*.{md,markdown}":
  - markdownlint
  - make lint-text
"*.{yml,yaml}": make lint-yml
"*.sh": shellcheck
".husky/*": shellcheck
"*.pug": markuplint
"*.scss": stylelint --cache
"*.{ts,js}": eslint --cache
".github/workflows/*.{yml,yaml}": actionlint

build: publish website resources to deploy
  docs/index.html
Due: secretlint, prettier --check

feat: add Magic page
  src/views/components/_header.pug
  src/views/magic.pug
Due: secretlint, prettier --check, markuplint

build: publish website resources to deploy
  docs/404.html
  docs/index.html
  docs/magic.html
  docs/my_best_10_films.html
  docs/privacy_policy.html
Due: secretlint, prettier --check

feat: support OGP
  src/assets/images/ogp.png
  src/views/404.pug
  src/views/layouts/_layout.pug
  src/views/magic.pug
  src/views/my_best_10_films.pug
  src/views/privacy_policy.pug
Due: secretlint, prettier --check, markuplint

build: publish website resources to deploy
  docs/404.html
  docs/assets/images/ebcb0b7dfb3ef8aaa873.png
  docs/index.html
  docs/magic.html
  docs/my_best_10_films.html
  docs/privacy_policy.html
Due: secretlint, prettier --check

feat: update magic.pug
  src/views/magic.pug
Due: secretlint, prettier --check, markuplint

build: publish website resources to deploy
  docs/magic.html
Due: secretlint, prettier --check

feat: update Magic page
  src/assets/stylesheets/custom.scss
  src/views/magic.pug
Due: secretlint, prettier --check, markuplint, stylelint --cache

build: publish website resources to deploy
  docs/assets/stylesheets/main.css
  docs/magic.html
Due: secretlint, prettier --check

feat: update pages
  src/views/index.pug
  src/views/magic.pug
Due: secretlint, prettier --check, markuplint

build: publish website resources to deploy
  docs/index.html
  docs/magic.html
Due: secretlint, prettier --check

feat: update footer
  src/views/components/_footer.pug
Due: secretlint, prettier --check, markuplint

chore: update magic.pug
  src/views/magic.pug
Due: secretlint, prettier --check, markuplint

build: publish website resources to deploy
  docs/magic.html
  docs/main.js
Due: secretlint, prettier --check, eslint --cache

feat: add Bluesky link
  src/views/index.pug
Due: secretlint, prettier --check, markuplint

feat: remove `#readme` from GitHub URL
  src/views/index.pug
Due: secretlint, prettier --check, markuplint

feat: replace twitter.com with x.com
  src/views/components/_footer.pug
  src/views/index.pug
Due: secretlint, prettier --check, markuplint

build(npm): upgrade Node.js and npm
  .node-version
  package-lock.json
  package.json
Due: secretlint, prettier --check

feat: add CLF-C02
  src/views/index.pug
Due: secretlint, prettier --check, markuplint

build: publish website resources to deploy
  docs/index.html
  docs/main.js
Due: secretlint, prettier --check, eslint --cache

build(npm): update dependencies
  package-lock.json
  package.json
Due: secretlint, prettier --check

build: publish website resources to deploy
  docs/assets/stylesheets/main.css
  docs/main.js
  docs/main.js.LICENSE.txt
Due: secretlint, prettier --check, eslint --cache

feat: update work
  src/views/index.pug
Due: secretlint, prettier --check, markuplint

feat: add beta
  src/views/index.pug
Due: secretlint, prettier --check, markuplint

chore: update pages
  src/views/components/_header.pug
  src/views/index.pug
  src/views/magic.pug
  src/views/movie.pug
Due: secretlint, prettier --check, markuplint

chore: update Vale
  .github/styles/config/vocabularies/Base/accept.txt
  .github/styles/config/vocabularies/Base/reject.txt
  .gitignore
  .gitignore_custom
  .vale.ini
Due: secretlint, prettier --check

ci: fix
  .markdownlintignore
Due: secretlint, prettier --check

ci: fix
  .yamllint.yml
Due: secretlint, prettier --check, make lint-yml

ci: fix
  .github/workflows/publish.yml
  .github/workflows/reviewdog.yml
  .github/workflows/test.yml
  .tool-versions
Due: secretlint, prettier --check, make lint-yml, actionlint

build: publish website resources to deploy
  docs/404.html
  docs/index.html
  docs/magic.html
  docs/movie.html
  docs/my_best_10_films.html
  docs/privacy_policy.html
Due: secretlint, prettier --check

chore: update
  src/views/index.pug
  src/views/magic.pug
  src/views/movie.pug
Due: secretlint, prettier --check, markuplint

build: publish website resources to deploy
  docs/index.html
  docs/magic.html
  docs/movie.html
Due: secretlint, prettier --check

feat: add link
  src/views/index.pug
Due: secretlint, prettier --check, markuplint

feat: update
  .prettierignore
  src/views/index.pug
Due: secretlint, prettier --check, markuplint
