Repository haru52/haru52.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint, prettier -c, markdownlint, make lint-text, shellcheck, markuplint, stylelint --cache, eslint --cache, actionlint

chore: update Pug files
  src/views/components/_footer.pug
  src/views/components/_header.pug
  src/views/index.pug
  src/views/layouts/_layout.pug
Due: secretlint, prettier -c, markuplint

chore: update 404.pug
  src/views/404.pug
Due: secretlint, prettier -c, markuplint

chore: update my_best_10_films.pug
  src/views/my_best_10_films.pug
Due: secretlint, prettier -c, markuplint

chore: update my best 10 films
  src/assets/images/last_night_in_soho.jpg
  src/assets/images/lunacy.jpg
  src/assets/images/the_graduate.jpg
  src/views/my_best_10_films.pug
Due: secretlint, prettier -c, markuplint

chore: update meta elements
  src/views/404.pug
  src/views/index.pug
  src/views/my_best_10_films.pug
Due: secretlint, prettier -c, markuplint

ci: add Deploy workflow
  .github/workflows/deploy.yml
Due: secretlint, prettier -c, actionlint

feat: update docs to deploy
  docs/404.html
  docs/assets/haru52_pub.asc
  docs/assets/images/40a9e06fe1f372d52309.jpg
  docs/assets/images/4aea11f3157a10a46f04.jpg
  docs/assets/images/9191176b7e9894ac86a2.jpg
  docs/assets/images/93668866d5b474f745a3.jpg
  docs/assets/images/93d8e4f9d3a9b8fb0c8e.jpg
  docs/assets/images/cc172d21585ee5a31a6b.jpg
  docs/assets/images/e007203215222f598f5e.jpg
  docs/assets/images/e19746c6a7318827b3f8.jpg
  docs/assets/images/ed569f66f1ae30eccf7b.jpg
  docs/assets/stylesheets/main.css
  docs/css/bootstrap.min.css
  docs/css/style.css
  docs/img/lunacy.jpg
  docs/img/the_graduate.jpg
  docs/index.html
  docs/js/bootstrap.bundle.min.js
  docs/main.js
  docs/main.js.LICENSE.txt
  docs/my_best_10_films.html
Due: secretlint, prettier -c, eslint --cache

ci: rename Deploy workflow to Publish
  .github/workflows/publish.yml
Due: secretlint, prettier -c, actionlint

build: update package-lock.json
  package-lock.json
Due: secretlint, prettier -c

docs: update CI status badge in README.md
  README.md
Due: secretlint, prettier -c, markdownlint, make lint-text

ci: update Git commit message
  .github/workflows/publish.yml
Due: secretlint, prettier -c, actionlint

feat: add favicon
  src/assets/images/favicon.png
  src/views/layouts/_layout.pug
Due: secretlint, prettier -c, markuplint

feat: publish website resources to deploy
  docs/404.html
  docs/assets/images/3eae362d3a6d0f7c678f.png
  docs/index.html
  docs/my_best_10_films.html
Due: secretlint, prettier -c

chore: update keywords in package.json
  package.json
Due: secretlint, prettier -c

docs: update CONTRIBUTING.md
  CONTRIBUTING.md
Due: secretlint, prettier -c, markdownlint, make lint-text

ci: change to skip commitlint if the committer is Dependabot
  .github/workflows/test.yml
Due: secretlint, prettier -c, actionlint

ci: update Dependabot workflow
  .github/workflows/dependabot.yml
Due: secretlint, prettier -c, actionlint

feat: update header
  src/assets/images/bluff_logo.png
  src/assets/stylesheets/custom.scss
  src/assets/stylesheets/index.scss
  src/typescript/application.ts
  src/typescript/current-nav-link-activator.ts
  src/typescript/di-manager.ts
  src/typescript/index.ts
  src/typescript/main.ts
  src/views/components/_header.pug
  src/views/layouts/_layout.pug
  webpack.common.ts
Due: secretlint, prettier -c, markuplint, stylelint --cache, eslint --cache

ci: update Publish workflow to enable the commit to the protected branch
  .github/workflows/publish.yml
Due: secretlint, prettier -c, actionlint

feat: publish website resources to deploy
  docs/404.html
  docs/assets/images/97ec3d27bbb4f927be62.png
  docs/assets/stylesheets/main.css
  docs/index.html
  docs/main.js
  docs/my_best_10_films.html
Due: secretlint, prettier -c, eslint --cache

chore: remove redundant option
  package.json
Due: secretlint, prettier -c

feat: update footer
  src/views/components/_footer.pug
Due: secretlint, prettier -c, markuplint

feat: publish website resources to deploy
  docs/404.html
  docs/index.html
  docs/my_best_10_films.html
Due: secretlint, prettier -c

refactor: update Font Awesome specifications
  src/views/index.pug
Due: secretlint, prettier -c, markuplint

feat: publish website resources to deploy
  docs/index.html
Due: secretlint, prettier -c

ci: add build job to Test workflow
  .github/workflows/test.yml
Due: secretlint, prettier -c, actionlint

feat: update index.pug
  src/views/index.pug
Due: secretlint, prettier -c, markuplint

feat: update Work section in index.pug
  src/views/index.pug
Due: secretlint, prettier -c, markuplint

feat: update views
  src/views/404.pug
  src/views/index.pug
  src/views/layouts/_layout.pug
  src/views/my_best_10_films.pug
Due: secretlint, prettier -c, markuplint

feat: publish website resources to deploy
  docs/404.html
  docs/my_best_10_films.html
Due: secretlint, prettier -c

refactor: remove redundancy
  src/typescript/current-nav-link-activator.ts
  src/typescript/di-manager.ts
Due: secretlint, prettier -c, eslint --cache

feat: publish website resources to deploy
  docs/main.js
Due: secretlint, prettier -c, eslint --cache

refactor: refactor views
  src/views/404.pug
  src/views/layouts/_layout.pug
  src/views/my_best_10_films.pug
Due: secretlint, prettier -c, markuplint

style: fix styles of views
  src/views/index.pug
  src/views/my_best_10_films.pug
Due: secretlint, prettier -c, markuplint

refactor: refactor views
  src/views/404.pug
  src/views/index.pug
  src/views/layouts/_layout.pug
  src/views/my_best_10_films.pug
Due: secretlint, prettier -c, markuplint

feat(views): add breadcrumbs
  src/assets/stylesheets/custom.scss
  src/assets/stylesheets/index.scss
  src/views/index.pug
  src/views/layouts/_layout.pug
Due: secretlint, prettier -c, markuplint, stylelint --cache

Path conditions:
  secretlint: any of: *
  prettier -c: any of: *
  markdownlint: any of: *.{md,markdown}
  make lint-text: any of: *.{md,markdown}
  shellcheck: any of: {*.sh,.husky/*}
  markuplint: any of: *.pug
  stylelint --cache: any of: *.scss
  eslint --cache: any of: *.{ts,js}
  actionlint: any of: .github/workflows/*.{yml,yaml}
