Repository haru52/haru52.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint, prettier -c, markdownlint, make lint-text, shellcheck, markuplint, stylelint --cache, eslint --cache, actionlint

.lintstagedrc.yml:

---
"*":
  - secretlint
  - prettier -c
"*.{md,markdown}":
  - markdownlint
  - make lint-text
"{*.sh,.husky/*}": shellcheck
"*.pug": markuplint
"*.scss": stylelint --cache
"*.{ts,js}": eslint --cache
".github/workflows/*.{yml,yaml}": actionlint

feat: publish website resources to deploy
  docs/404.html
  docs/assets/stylesheets/main.css
  docs/index.html
  docs/my_best_10_films.html
Due: secretlint, prettier -c

refactor: refactor application.ts
  src/typescript/application.ts
Due: secretlint, prettier -c, eslint --cache

perf: reduce bundled Font Awesome SVG scripts
  src/typescript/index.ts
Due: secretlint, prettier -c, eslint --cache

feat: publish website resources to deploy
  docs/main.js
Due: secretlint, prettier -c, eslint --cache

feat(views): add id (anchor) to headings in index.pug
  src/views/index.pug
Due: secretlint, prettier -c, markuplint

feat: publish website resources to deploy
  docs/index.html
Due: secretlint, prettier -c

feat(views): update URL
  src/views/index.pug
Due: secretlint, prettier -c, markuplint

ci: update dependabot.yml
  .github/workflows/dependabot.yml
Due: secretlint, prettier -c, actionlint

build: bump actionlint from 1.6.12 to 1.6.13
  .tool-versions
Due: secretlint, prettier -c

feat: update views
  src/views/components/_footer.pug
  src/views/index.pug
Due: secretlint, prettier -c, markuplint

feat: update index.pug
  src/views/index.pug
Due: secretlint, prettier -c, markuplint

feat: update views
  src/views/components/_header.pug
  src/views/index.pug
  src/views/layouts/_layout.pug
Due: secretlint, prettier -c, markuplint

feat: publish website resources to deploy
  docs/404.html
  docs/index.html
  docs/my_best_10_films.html
Due: secretlint, prettier -c

ci: update Publish workflow
  .github/workflows/publish.yml
Due: secretlint, prettier -c, actionlint

build: publish website resources to deploy
  docs/assets/stylesheets/main.css
  docs/main.js
  docs/main.js.LICENSE.txt
Due: secretlint, prettier -c, eslint --cache

feat: add React to the Skills section
  src/views/index.pug
Due: secretlint, prettier -c, markuplint

build: publish website resources to deploy
  docs/index.html
Due: secretlint, prettier -c

chore: update files
  .github/PULL_REQUEST_TEMPLATE.md
  .github/vale_styles/Vocab/Base/accept.txt
  .github/vale_styles/Vocab/Base/reject.txt
  .github/workflows/lint-pr-title.yml
  .gitignore
  .gitignore_custom
  .lintstagedrc.yml
  .markdownlint.yml
  .markdownlintignore
  .node-version
  .prettierignore
  .tool-versions
  .vale.ini
  .yamllint.yml
  CONTRIBUTING.md
  Makefile
  SECURITY.md
Due: secretlint, prettier -c, markdownlint, make lint-text, actionlint

chore: update files
  .github/workflows/dependabot.yml
  .github/workflows/reviewdog.yml
  .github/workflows/test.yml
  .vscode/extensions.json
Due: secretlint, prettier -c, actionlint

build(npm): update
  package-lock.json
  package.json
Due: secretlint, prettier -c

feat: update headings
  src/views/index.pug
Due: secretlint, prettier -c, markuplint

build(npm): upgrade dependencies
  package-lock.json
  package.json
Due: secretlint, prettier -c

build(npm): update package*.json
  package-lock.json
  package.json
Due: secretlint, prettier -c

chore: update files
  CONTRIBUTING.md
  Makefile
Due: secretlint, prettier -c, markdownlint, make lint-text

chore: update package.json
  package.json
Due: secretlint, prettier -c

feat: update Skills section
  src/views/index.pug
Due: secretlint, prettier -c, markuplint

chore: fix .lintstagedrc.yml
  .lintstagedrc.yml
Due: secretlint, prettier -c

chore: change interval from daily to weekly
  .github/dependabot.yml
Due: secretlint, prettier -c

feat: add Vue.js skills
  src/views/index.pug
Due: secretlint, prettier -c, markuplint

build: publish website resources to deploy
  docs/assets/stylesheets/main.css
  docs/index.html
  docs/main.js
  docs/main.js.LICENSE.txt
Due: secretlint, prettier -c, eslint --cache

build: upgrade Node.js and npm versions
  .node-version
  package-lock.json
  package.json
Due: secretlint, prettier -c

feat: update Bluffbox description
  src/views/index.pug
Due: secretlint, prettier -c, markuplint

build: upgrade npm dependencies
  package-lock.json
  package.json
Due: secretlint, prettier -c
