Repository haru52/haru52.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint, prettier --check, markdownlint, make lint-text, make lint-yml, shellcheck, markuplint, stylelint --cache, eslint --cache, actionlint

chore: update package*.json
  package-lock.json
  package.json
Due: secretlint, prettier --check

build: upgrade
  package-lock.json
  package.json
Due: secretlint, prettier --check

build: update package*.json
  package-lock.json
  package.json
Due: secretlint, prettier --check

feat: update footer
  src/views/components/_footer.pug
Due: secretlint, prettier --check, markuplint

build: publish website resources to deploy
  docs/404.html
  docs/index.html
  docs/main.js
  docs/my_best_10_films.html
Due: secretlint, prettier --check, eslint --cache

ci: update publish.yml
  .github/workflows/publish.yml
Due: secretlint, prettier --check, make lint-yml, actionlint

chore: upgrade actionlint
  .tool-versions
Due: secretlint, prettier --check

feat: add Privacy Policy page
  src/views/components/_footer.pug
  src/views/privacy_policy.pug
Due: secretlint, prettier --check, markuplint

feat: add Google Analytics snippet
  src/views/layouts/_layout.pug
Due: secretlint, prettier --check, markuplint

build: publish website resources to deploy
  docs/404.html
  docs/index.html
  docs/my_best_10_films.html
  docs/privacy_policy.html
Due: secretlint, prettier --check

build: upgrade Node.js and npm
  .node-version
  package-lock.json
  package.json
Due: secretlint, prettier --check

feat: install and use TSyringe DI container
  package-lock.json
  package.json
  src/typescript/application.ts
  src/typescript/current-nav-link-activator.ts
  src/typescript/di-manager.ts
  src/typescript/index.ts
  src/typescript/main.ts
  tsconfig.json
Due: secretlint, prettier --check, eslint --cache

build: publish website resources to deploy
  docs/main.js
  docs/main.js.LICENSE.txt
Due: secretlint, prettier --check, eslint --cache

refactor: refactor views
  .markuplintrc.yml
  src/views/components/_google_analytics.pug
  src/views/layouts/_layout.pug
Due: secretlint, prettier --check, make lint-yml, markuplint

feat: add OSS contribution section
  src/views/index.pug
Due: secretlint, prettier --check, markuplint

build: publish website resources to deploy
  docs/index.html
Due: secretlint, prettier --check

refactor: refactor file
  src/typescript/application.ts
Due: secretlint, prettier --check, eslint --cache

feat: add the note link
  src/views/index.pug
Due: secretlint, prettier --check, markuplint

build: publish website resources to deploy
  docs/assets/stylesheets/main.css
  docs/index.html
  docs/main.js
  docs/main.js.LICENSE.txt
Due: secretlint, prettier --check, eslint --cache

feat: update links section
  src/views/index.pug
Due: secretlint, prettier --check, markuplint

build: publish website resources to deploy
  docs/404.html
  docs/assets/stylesheets/main.css
  docs/index.html
  docs/main.js
  docs/main.js.LICENSE.txt
  docs/my_best_10_films.html
  docs/privacy_policy.html
Due: secretlint, prettier --check, eslint --cache

build(npm): upgrade deps
  .node-version
  package-lock.json
  package.json
Due: secretlint, prettier --check

feat: update header color
  src/views/components/_header.pug
Due: secretlint, prettier --check, markuplint

style: fix style
  src/typescript/current-nav-link-activator.ts
Due: secretlint, prettier --check, eslint --cache

feat: update views
  src/views/index.pug
Due: secretlint, prettier --check, markuplint

feat: update a link
  src/views/index.pug
Due: secretlint, prettier --check, markuplint

feat: add GraphQL to skills section
  src/views/index.pug
Due: secretlint, prettier --check, markuplint

chore: update index.pug
  src/views/index.pug
Due: secretlint, prettier --check, markuplint

chore: update view
  src/views/index.pug
Due: secretlint, prettier --check, markuplint

feat: update X (Twitter) icon
  package-lock.json
  package.json
  src/views/components/_footer.pug
  src/views/index.pug
Due: secretlint, prettier --check, markuplint

feat: add Threads icon
  src/views/index.pug
Due: secretlint, prettier --check, markuplint

Path conditions:
  secretlint: any of: *
  prettier --check: any of: *
  markdownlint: any of: *.{md,markdown}
  make lint-text: any of: *.{md,markdown}
  make lint-yml: any of: *.{yml,yaml}
  shellcheck: (any of: *.sh) or (any of: .husky/*)
  markuplint: any of: *.pug
  stylelint --cache: any of: *.scss
  eslint --cache: any of: *.{ts,js}
  actionlint: any of: .github/workflows/*.{yml,yaml}
