Repository haru52/haru52.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: secretlint, prettier --check, markdownlint, make lint-text, make lint-yml, shellcheck, markuplint, stylelint --cache, eslint --cache, actionlint

build: publish website resources to deploy
  docs/index.html
Due: secretlint, prettier --check

feat: update footer (2024 -> 2025)
  src/views/components/_footer.pug
Due: secretlint, prettier --check, markuplint

build: publish website resources to deploy
  docs/404.html
  docs/index.html
  docs/magic.html
  docs/movie.html
  docs/privacy_policy.html
Due: secretlint, prettier --check

docs: add CLAUDE.md for Claude Code guidance
  CLAUDE.md
Due: secretlint, prettier --check, markdownlint, make lint-text

chore: ignore .claude/ and .serena/ in lint configs
  .markdownlintignore
  .prettierignore
  .yamllint.yml
Due: secretlint, prettier --check, make lint-yml

chore: add Serena MCP project config and onboarding memories
  .serena/.gitignore
  .serena/memories/code_style_and_conventions.md
  .serena/memories/codebase_structure.md
  .serena/memories/deployment_and_ci.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
Due: secretlint, prettier --check, markdownlint, make lint-text, make lint-yml

feat: update footer (2025 -> 2026)
  src/views/components/_footer.pug
Due: secretlint, prettier --check, markuplint

chore: update Serena project config to latest template format
  .serena/project.yml
Due: secretlint, prettier --check, make lint-yml

feat: rename blog link label from "Blog (Blufflog)" to "Blufflog (Blog)"
  src/views/index.pug
Due: secretlint, prettier --check, markuplint

feat: add haru's Magic Shop (BOOTH) link to index page
  src/views/index.pug
Due: secretlint, prettier --check, markuplint

feat: change blog link label from "Blufflog (Blog)" to "Blufflog (blog)"
  src/views/index.pug
Due: secretlint, prettier --check, markuplint

Path conditions:
  secretlint: any of: *
  prettier --check: any of: *
  markdownlint: any of: *.{md,markdown}
  make lint-text: any of: *.{md,markdown}
  make lint-yml: any of: *.{yml,yaml}
  shellcheck: (any of: *.sh) or (any of: .husky/*)
  markuplint: any of: *.pug
  stylelint --cache: any of: *.scss
  eslint --cache: any of: *.{ts,js}
  actionlint: any of: .github/workflows/*.{yml,yaml}
